<table class="responsive-table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
     {% for book in books %}
     <tr>
         <td><a href="{{ url_for( 'book.book_page', book_title=book.get_title_for_url()) }}"
                  class="flow-text">{{ book.get_formatted_title() }}</a></td>
        <td class="flow-text"> {{ book.get_author() }}</td>
         <td><a href="{{ url_for( 'user.remove_from_favorites', book_id=book.get_id()) }}"
                class="btn-floating btn-small waves-effect waves-light red"><i
                    class="material-icons">delete</i></a>
         </td>
     </tr>
    {% endfor %}
    </tbody>
</table>
