{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search-bar" name="search-bar" class="autocomplete">
                    <label for="search-bar">Search for book</label>
                </div>
            </div>
        </div>
    </div>  
    <div class="col s12 m7">
        <h3 class="header center-align">Books</h3>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        {% for book in books %}
                        <hr>
                            <span>Tile:</span> {{ book.get_title() }}<br>
                            <span>Author:</span> {{ book.get_author() }}<br>
                            <span>Publisher:</span> {{ book.get_publisher() }}<br>
                            <span>Released:</span> {{ book.get_released_date() }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <div class="card">
            <h3 class="header center-align">Reviews</h3>
            <div class="card-content">
                  {% for review in reviews %}
                        <hr>
                            <span>Reviewer:</span> {{ review.get_reviewer() }}<br>
                            <span>User Comment:</span><p> {{ review.get_feedback() }}</p>
                            <span>Book rate:</span> {{ review.get_rate() }}<br>
                            <span>Book Title:</span> {{ review.get_book() }}<br>
                        {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}