{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="search-bar" name="search-bar" class="autocomplete">
                    <label for="search-bar">Autocomplete</label>
                </div>
            </div>
        </div>
    </div>  
    <div class="col s12 m7">
        <h3 class="header">Books</h3>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                          {% for book in books %}
                        <hr>
                            <span>Book titile:</span> {{ book.title }}<br>
                            <span>Book author:</span> {{ book.author }}<br>
                            <span>Book publisher:</span>{{ book.publisher }}<br>
                            <span>Book publisher:</span>{{ book.released }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        <div class="card">
            <h3 class="header">Reviews</h3>
            <div class="card-content">
                  {% for review in reviews %}
                        <hr>
                            <span>Book titile:</span> {{ review.user }}<br>
                            <p><span>Book author:</span> {{ review.feedback }}</p>
                            <span>Book publisher:</span>{{ review.rate }}<br>
                            <span>Book publisher:</span>{{ review.book }}<br>
                        {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}