{% extends "base.html" %}

{% block content %}
<h3 class="center">Books</h3>
<div class="row">
    {% include 'search_bar.html' %}
</div>
<div class="row">
    <div class="col s12">
        <ul class="collection  brown lighten-4">
        {% if books|length > 0 %}
            {% for book in books %}
            <li class="collection-item avatar brown lighten-4">
                <i class="material-icons circle brown darken-1">local_library</i>
                <a class="flow-text brown-text" href="{{url_for( 'book.book_page', book_title=book.get_title_for_url()) }}">{{ book.get_formatted_title() }} <i class="material-icons black-text">info_outline</i></a>
                <p>By {{ book.get_author() }} <br>
                    Published from {{ book.get_publisher() }} <br>
                    <span>Edition:</span> {{ book.get_edition() }}<br>
                    <span>Genre:</span> {{ book.get_category() }}<br>
                </p>
            </li>
            {% endfor %}
        {% else %}
                <h4 class="center">No books found for this search.</h4>
                {% if session.user %}
                    <p class="center flow-text">Want to share this book with others? <a href="{{ url_for( 'book.new' ) }}">Create new book</a></p>
                {% else %}
                    <p class="center flow-text"><a href="{{ url_for( 'auth.register' ) }}">Register Now</a> to create and share the books you like</p>
                {% endif %}
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}