{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col s12 m4 l2">
        <div class="card brown lighten-5">
            <div class="card-image">
                {% if book.get_cover_image() %}
                <img class="responsive-img" src="{{ book.get_cover_image()}}">
                {% else %}

                <img class="responsive-img" src="{{ url_for('static', filename='/images/book_cover.png')  }}">
                {% endif %}
            </div>
            <ul class="collection">
                <li class="collection-item brown lighten-4">
                    <span class="flow-text">Rate:</span>
                    {% if book_rate == 0 %}
                    <span>No rates yet</span>
                    {% else %}
                    {% for star in range(0, book_rate) %}
                    <i class="material-icons">star</i>
                    {% endfor %}
                    {%endif%}
                </li>
                <li class="collection-item brown lighten-4"><span class="flow-text">Author:</span> {{ book.get_author()
                    }}
                </li>
                <li class="collection-item brown lighten-4"><span class="flow-text">Publisher:</span> {{
                    book.get_publisher() }}
                </li>
                <li class="collection-item brown lighten-4"><span class="flow-text">Release Date:</span> {{
                    book.get_release_date() }}
                </li>
                <li class="collection-item brown lighten-4"><span class="flow-text">Edition:</span> {{
                    book.get_edition() }}
                </li>
            </ul>
        </div>
    </div>

    <div class="col s12 m8 l10">

        <div class="row">
            <div class="col s12">
                <h3 class="header center black-text card-title">{{ book.get_formatted_title() }}</h3>
                <div class="card brown lighten-4">
                    <div class="card-content">
                        <h4>About This Book:</h4>
                        <p class="flow-text">{{ book.get_description() }}</p>
                    </div>
                    <div class="card horizontal brown white-text">
                        <a href="https://www.amazon.co.uk/s?tag=faketag&k={{ book.get_formatted_title() }}"
                           target="_blank" class="white-text btn-small brown"><i
                                class="small material-icons ">local_library</i> Buy Now</a>
                        <a href="#" class="white-text btn-small brown"><i
                                class="small material-icons">send</i> share</a>
                        {% if session.user %}
                        <form action="{{ url_for( 'book.delete', book_id=book.get_id() ) }}" method="POST">
                            <button class="white-text btn-small brown"><i
                                    class="material-icons">delete</i> Remove Book
                            </button>
                        </form>
                        <a href="{{ url_for( 'book.edit', book_id=book.get_id() ) }}"
                           class="white-text btn-small brown"><i class="material-icons">edit</i>Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card brown darken-1">
            {% include 'reviews_section.html' %}
        </div>
    </div>
</div>

{% endblock %}