{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="col s12 m4 l2">
        <div class="card">
            <div class="card-image">
                {% if book.get_cover_image() %}
                <img class="responsive-img" src="{{ book.get_cover_image()}}">
                {% else %}
                <img class="responsive-img" src="{{ url_for('static', filename='/images/book_cover.png')  }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col s12 m8 l10">
        <form class="col s12" method="POST" action="{{ url_for('book.edit', book_id=book.get_id()) }}">
            <div class="row">
                <div class="card brown lighten-4">
                    <div class="card-content brown lighten-4">
                        <label for="title" class="black-text"><span class="flow-text">Book Title</span></label>
                        <input id="title" name="title" minlength="5" maxlength="25"
                               value="{{ book.get_formatted_title() }}" type="text" class=" validate center black-text"
                               required>
                    </div>
                    <div class="card-content brown lighten-4">
                        <label for="description" class="black-text"><span
                                class="flow-text">About This Book</span></label>
                        <textarea id="description" name="description" minlength="5"
                                  maxlength="600" class="materialize-textarea validate black-text"
                                  required>{{ book.get_description() }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <ul class="collection">
                    <li class="collection-item brown lighten-4">
                        <label for="author" class="black-text"><span class="flow-text">Author:</span></label>
                        <input id="author" name="author" minlength="5" maxlength="30"
                               value="{{ book.get_author() }}" type="text" class="validate" required>
                    </li>
                    <li class="collection-item brown lighten-4">
                        <label for="publisher" class="black-text"><span class="flow-text">Publisher:</span></label>
                        <input id="publisher" name="publisher" minlength="5" maxlength="15"
                               value="{{ book.get_publisher() }}" type="text" class="validate" required>
                    </li>

                    </li>
                    <li class="collection-item brown lighten-4">
                        <label for="released_date" class="black-text"><span
                                class="flow-text">Released date:</span></label>
                        <input id="released_date" name="released_date" minlength="1" maxlength="5"
                               value="{{ book.get_release_date() }}" type="text" class="validate" required>
                    </li>
                    <li class="collection-item brown lighten-4">
                        <label for="edition" class="black-text"><span class="flow-text">Edition:</span></label>
                        <input id="edition" name="edition" maxlength="3"
                               value="{{ book.get_edition() }}" type="text" class="validate" required>
                    </li>
                    <li class="collection-item brown lighten-4">
                        <label for="category" class="black-text"><span class="flow-text">Category:</span></label>
                        <input id="category" name="category" minlength="5" maxlength="15"
                               value="{{book.get_category()}}" type="text" class="validate" required>
                    </li>
                </ul>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{url_for( 'book.book_page', book_title=book.get_title_for_url()) }}"
                       class="btn-small red white-text text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-small brown darken-1 white-text text-shadow">
                        Save book Information <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}