<div class="container">
        <form action="{{ url_for('book.search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="material-icons prefix text-darken-4">search</i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Type Title, author Name or Genre</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="brown darken-1 btn text-shadow">Search</button>
                    <a href="{{ url_for('book.book_list') }}" class="red btn text-shadow">Reset</a>
                </div>
            </div>
        </form>
</div>