<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favico.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"
        media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bookshelf</title>
</head>

<body>
    <!-- HEADER and Navbar -->
    <header>
        <nav>
            <div class="nav-wrapper brown darken-1">
                <a href="{{ url_for('index') }}" class="brand-logo">Bookshelf</a>
                <a href="#" data-target="mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Sign-up</a></li>
                </ul>
            </div>
        </nav>

        <!-- SideBar -->
        <ul class="sidenav brown lighten-4" id="mobile">
            <li><a href="#">Books</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Sign-up</a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
        <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="brown lighten-5 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- Jquery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>